*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* 
============******===========
Navigation css style
============******===========
*/
.nav-img{
    width: auto;
    height: 3rem;
}
/* 
============*******==========
Navigation css style
============*******==========
*/
/* font-style-color-start */
.fa-check{
    
}
/* font-style-color-end */